In [1]:
import pandas as pd
import random

In [2]:
data = {
    'Group': ['Mayu/Hanxue', 'Naoki', 'Kasumi/Saba/Nagumon', 'Akari/Chikashi', 'Haruto/Kazuma/Yuuki', 'Kazu/Yuduki', 'Naruse/Kuya', 'Hibiki/Akira/Issa']
}

df = pd.DataFrame(data)

In [ ]:
=IF(T6 >= 90, "AA", IF(T6 >= 80, "A", IF(T6 >= 70, "B", IF(T6 >= 60, "C", "F"))))

In [3]:
df

                 Group
0          Mayu/Hanxue
1                Naoki
2  Kasumi/Saba/Nagumon
3       Akari/Chikashi
4  Haruto/Kazuma/Yuuki
5          Kazu/Yuduki
6          Naruse/Kuya
7    Hibiki/Akira/Issa

In [4]:
def randomize_group_order(dataframe):
    randomized_df = dataframe.sample(frac=1, random_state=random.randint(1, 100))
    randomized_df.reset_index(drop=True, inplace=True)
    return randomized_df

In [5]:
randomized_df = randomize_group_order(df)
print(randomized_df)

                 Group
0                Naoki
1  Haruto/Kazuma/Yuuki
2          Kazu/Yuduki
3    Hibiki/Akira/Issa
4          Mayu/Hanxue
5          Naruse/Kuya
6  Kasumi/Saba/Nagumon
7       Akari/Chikashi